@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    padding: 2% 10%; 
}

.header__nav__links {
    font-family: "Nunito", sans-serif;
    font-size: 22px;
    font-weight: 600;
    padding: 10px 20px; 
    color: #000;
    text-decoration: none;
}

.header__nav__links:hover {
    color: #7A03FF;
}

body {
    background-color: #E8C7DE;
    color: #000;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.presentation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10%; 
    gap: 20px; 
}

.presentation__content {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.presentation__content__title {
    font-family: "Nunito", sans-serif;
    font-size: 36px;
}

.presentation__content__text {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    text-align: justify;
}

.face__image {
    width: 100%; 
    max-width: 350px; 
    border: 1px solid #7A03FF !important;
    margin-top: 39px;
}

.footer {
    background-color: #7A03FF;
    padding: 10px;
    color: white;
    font-family: "Nunito", sans-serif;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: auto;
}

@media (max-width: 1200px) {
    .header {
        padding: 10%;  
    }

    .presentation {
        flex-direction: column-reverse;
        margin-bottom: 10px;
        justify-content: center;
        padding: 5%; 
    }

    .presentation__content {
        width: 100%;
        max-width: none;
    }
    
    .face__image {
        width: 100%;
        max-width: none;
    }
}
